<h1>TimeEntries</h1>

<%= form_with(model: TimeEntry.new, local: true) do |f| %>
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <th>Day</th>
    <th>Clock In</th>
    <th>Clock Out</th>
    <th>Duration</th>
    <th>In Progress?</th>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.day %></td>
        <td><%= entry.start_time %></td>
        <td><%= end_time_helper(entry) %></td>
        <td><%= duration_helper(entry) %></td>
        <td><%= entry.in_progress? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
